body{
    margin: 0 auto;
    width: 375px;
    font-family: 'Roboto', sans-serif;
}
header{
    display: flex;
    align-items: center;
    position: fixed;
    justify-content: space-between;
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}
header img{
    margin-left: 22px;
}
header ion-icon{
    width: 42px;
    height: 32px;
    margin-right: 22px;
    cursor: pointer;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 520px;
    background-color: #E5E5E5;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
section::-webkit-scrollbar {
  display: none;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 375px;
    height: 80px;
    background-color: #FFFFFF;
    box-shadow: 0px -4px 5px rgba(0, 0, 0, 0.05);
}
footer input{
    margin-left: 17px;
    border: 0 none;
    outline: 0;
}
footer img{
    cursor: pointer;
}
.sombra-button{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 18px;
}
.sombra-button:hover{
    background-color: #C9503A; 
    transition: 0.5s;
    border-radius: 50%;
}
.menssagens{
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    height: 40px;
    width: 375px;
    margin-top: 4px;
}
.entrada-mensagem span {
    font-size: 15px;
    font-weight: 100;
}
.entrada-mensagem {
  width: 100%;
  display: flex;
  flex-direction: column;
  letter-spacing: -0.5px;
  padding-left: 10px;
}
.entrada-saida {
  background: #dcdcdc;
}

.conversa-publica {
  background: #fff;
}

.conversa-privada {
  background: #ffdede;
}

.horario {
  margin-right: 5px;
  color: #b8b8b8;
}